@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  html, body, .app, #root{
    width: 100%;
  }
  *{
    font-family: 'Poppins', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
  .root{
    width: 100%;
    height: 100vh;
  }
  :root{
    --color-main: #6BBB56;
    --color-secondary: #FFD166;
    --color-black: #333333;
    --color-grey: #707070;
  }
  .nav{
    font-family: 'Lato', sans-serif !important;
  }
  .nav *{
    font-family: inherit;
  }
  .logo{
      color:var(--color-main);
  }
  .logo>div{
    background-color: var(--color-secondary);
  }
  span,div,p{
    color: var(--color-black);
  }
.bar{
  transition: all .2s ease-in-out;
}
  .bar.closed{
    width: 3rem;
    height: 5px;
    background-color: black;
    position: relative;
  }
  .bar.closed::after{
    content: '';
    width: 3rem;
    height: 5px;
    position: absolute;
    background-color: black;
    top: .7rem;
  }
  .bar.closed::before{
    content: '';
    width: 3rem;
    height: 5px;
    position: absolute;
    background-color: black;
    top: -.7rem;
  }
  
  .bar.open{
    
    width: 3rem;
    height: 5px;
    background-color: white;
    position: relative;
    transform: rotate(-45deg);
  }
  .bar.open::after{
    content: '';
    width: 3rem;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 1px;
    transform: rotate(90deg);
  }
  .resources>img{
    width: 100%;
    height: auto;
  }
  .footer_items > .hr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .footer_items > .grid{
    z-index: 10;
    position: relative;
    background-color: var(--color-black);
    margin-inline: auto;
    padding-inline: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .social_link >img{
    width: 4rem;
  }
  .footer_links > li > a{
    text-decoration: underline;
  }
}