@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  html{
    scroll-behavior: smooth;
  }
  :root{
    --color-main: #6BBB56;
    --color-secondary: #FFD166;
    --color-black: #333333;
    --color-grey: #707070;
  }
  body{
    font-family: 'Lato', sans-serif;
  }
  .logo{
      color:var(--color-main);
  }
  .logo>div{
    background-color: var(--color-secondary);
  }
 

}